@import "../../assets/styles/palette.module.scss";

* {
  margin: 0;
}

.Header {
  background-color: $header;
  padding: 50px 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

h3 {
  font-weight: bold;
  font-size: 30px;
}

label {
  font-weight: bold;
  font-size: 15px;
}

p {
  color: grey;
}

.submit {
  background-color: $blueButton;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 30px;
  margin-top: 5px;
  display: inline;
  width: 150px;
  height: 50px;
  margin-right: 10px;
}
